@CHARSET "UTF-8";

#side_menu {
	position:fixed;
	min-width:10em;
	min-height:5em;
	height:auto;
	
	left:-10em; top:10em;
	background-color:#adfadf;
}

#car_searchbar,
#car_detail {
	width:50em;
	height:auto;
	
	margin:1em auto;
	
	background-color:#afbfcf;
	border-radius:5px;
	
	text-align:center;
}

#car_searchbar > div,
#car_detail > div {
	display:inline-block;
	border:0px solid black;	
	
	width:30%;
	height:5em;
	
	padding-left:1em;
	
	margin:auto;
	
	overflow:auto;
}

#result_make, #result_model,
#result_trans {
	text-align:left;
}

#result_color input[type='radio']{
	display:none;
	min-height:3em;
}

#result_color input[type='radio'] + label {
	display:inline-block;
	border:0px solid black;
	width:1em;
	padding:0.5em 0.5em;
	margin:0.1em 0.1em;
}
#result_color input[type='radio']:checked + label {
	border:0.2em dashed #7f7f7f;
	padding:0.3em 0.3em;
	margin:0.1em 0.1em;
}

#car_detail select {
	margin-top:0.7em;
	padding:0.5em 1em;
	
	min-width:12em;
	max-width:12em;
	
	border-radius:5px;
	border:1px solid #7f8f9f;
	background-color:#dfdfdf;
}

#car_searchbar select {
	margin-top:0.7em;
	padding:0.5em 1em;
	
	min-width:15em;
	max-width:15em;
	
	border-radius:5px;
	border:1px solid #7f8f9f;
	background-color:#dfdfdf;
}

#car_searchbar > input {
	margin-top:0.5em;
	padding:0.6em 1em;
	
	border-radius:5px;
	border:1px solid #7f8f9f;
	background-color:#dfdfdf;
}
#car_searchbar > input:hover {
	margin-top:0.5em;
	padding:0.6em 1em;
	
	border-radius:5px;
	border:1px solid #7f8f9f;
	background-color:#bfbfbf;
}

#car_list {
	width:50em;
	border:1px solid black;
	margin:1em auto;
	padding:0.5em;
	
	text-align:center;
}

#car_list img {
	width:100%;
	min-height:7em;
	max-height:7em;
}

.column {
	display:inline-block;
	width:15em;
	border:1px solid black;
	
	margin:5px;
	padding:5px;
	
	text-align:left;
	
	cursor:pointer;
}

#car_page {
	display:block;
	position:absolute;
	
	left:0; right:0;
	top:0; bottom:0;
	
	margin:auto;
	
	text-align:center;
		
	width:0%;
	height:0%;
	z-index:1002;
	
	overflow:hidden;
	
	background-color:white;
}

#car_page_close {
	position:absolute;
	right:0;
	top:0;
	margin:10px;
	
	cursor:pointer;
}

#car_page_img,
#car_page_contents {
	display:inline-block;
	float:left;
	
	width:50%;
	height:100%;
	
	text-align:left;
	
	border:0px solid black;
}

#car_page_img img {
	width:100%;
	max-height:100%;
	border:1px solid black;
	vertical-align:middle;
}

#black_overlay {
	display:none;
	position:absolute;
	
	left:0;
	top:0;
	
	width:100%;
	height:100%;
	background-color:black;
	
	z-index:1001;
	-moz-opacity:0.8;
	opacity:0.8;
	filter:alpha(opacity:0.8);
}
